:root{
    --main-color: #ffffff;
    --additional-color: #d1d0d0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./imgs/background-imgs/afternoon/afternoon-picture-1.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.container{
    max-width: 97%;
    margin: auto;
}

.section2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.arr-button{
    display: flex;
    height: 80px;
    width: 80px;
    background: none;
    border: none;
    border-radius: 100px;
    transition: background-color 0.3s;

}

#left-arrow{
    background: url(./imgs/technical-imgs/left-arrow-svgrepo-com.svg) no-repeat center/50%;
}

#right-arrow{
    background: url(./imgs/technical-imgs/right-arrow-svgrepo-com.svg) no-repeat center/50%;
}

.arr-button:hover{
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.sect2-main-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--main-color);
    font-family: inter;
}

.time-date-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    display: flex;
    gap: 10px;
    font-size: 85px;
    font-weight: 700;
}

.date{
    display: flex;
    gap: 5px;
    font-size: 25px;
    font-weight: 500;
}

.greeting{
    display: flex;
    gap: 10px;
    font-size: 45px;
    font-weight: 600;
    margin-left: 330px;
}

.greeting input{
    display: flex;
    color: var(--main-color);
    font-size: 45px;
    font-weight: 600;
    border: none;
    background: none;
}

.greeting input:focus{
    outline: none;
}

.sect3-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.sect3-reload{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background: url(./imgs/technical-imgs/reload.svg) center/35px no-repeat;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.sect3-reload:hover{
    background-color: rgba(0, 0, 0, 0.70);
}

.sect3-reload:active{
    transition: none;
    background: url(./imgs/technical-imgs/reload.svg) center/35px no-repeat;
}

.sect3-main-div p{
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
}


